*{
	 margin:0; padding:0;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline:none;
}
*:focus{ outline:none;}
img{ border:0; outline:none;}
.parent-container{ overflow:hidden;}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/ProximaNova-Reg-webfont.eot');
    src: url('fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Reg-webfont.woff2') format('woff2'),
         url('fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?1u2n5j');
	src:url('fonts/icomoon.eot?#iefix1u2n5j') format('embedded-opentype'),
		url('fonts/icomoon.ttf?1u2n5j') format('truetype'),
		url('fonts/icomoon.woff?1u2n5j') format('woff'),
		url('fonts/icomoon.svg?1u2n5j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon{ display:inline-block !important; font-size:25px; position:relative;}

.icon-rotate-1:before {
	content: "\e632";
}
.icon-chat:before {
	content: "\e63e";
}
.icon-assuredprivacy:before {
	content: "\e63f";
}
.icon-bestprice:before {
	content: "\e640";
}
.icon-1:before {
	content: "\e600";
}
.icon-afternoon:before {
	content: "\e601";
}
.icon-arrow_btm:before {
	content: "\e602";
}
.icon-arrow_left:before {
	content: "\e603";
}
.icon-arrow_right:before {
	content: "\e604";
}
.icon-arrow_top:before {
	content: "\e605";
}
.icon-bhk:before {
	content: "\e606";
}
.icon-cafe:before {
	content: "\e607";
}
.icon-circlecross:before {
	content: "\e608";
}
.icon-clubhouse:before {
	content: "\e609";
}
.icon-clusterplan:before {
	content: "\e60a";
}
.icon-compass:before {
	content: "\e60b";
}
.icon-cross:before {
	content: "\e60c";
}
.icon-door:before {
	content: "\e60d";
}
.icon-email:before {
	content: "\e60e";
}
.icon-facebook:before {
	content: "\e60f";
}
.icon-fillcross:before {
	content: "\e610";
}
.icon-fitting:before {
	content: "\e611";
}
.icon-floor:before {
	content: "\e612";
}
.icon-garden:before {
	content: "\e613";
}
.icon-googleplus:before {
	content: "\e614";
}
.icon-gym:before {
	content: "\e615";
}
.icon-harvesting:before {
	content: "\e616";
}
.icon-heart:before {
	content: "\e617";
}
.icon-heart-1:before {
	content: "\e618";
}
.icon-intercom:before {
	content: "\e619";
}
.icon-jogging:before {
	content: "\e61a";
}
.icon-location:before {
	content: "\e61b";
}
.icon-morning:before {
	content: "\e61c";
}
.icon-multipurposeroom:before {
	content: "\e61d";
}
.icon-next:before {
	content: "\e61e";
}
.icon-night:before {
	content: "\e61f";
}
.icon-offer .path1:before {
	content: "\e620";
	color: rgb(238, 88, 71);
}
.icon-offer .path2:before {
	content: "\e621";
	margin-left: -1em;
	color: rgb(238, 88, 71);
}
.icon-offer .path3:before {
	content: "\e622";
	margin-left: -1em;
	color: rgb(238, 88, 71);
}
.icon-offer .path4:before {
	content: "\e623";
	margin-left: -1em;
	color: rgb(254, 214, 116);
}
.icon-offer .path5:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(254, 214, 116);
}
.icon-offer .path6:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(238, 88, 71);
}
.icon-offer .path7:before {
	content: "\e626";
	margin-left: -1em;
	color: rgb(250, 200, 69);
}
.icon-offer .path8:before {
	content: "\e627";
	margin-left: -1em;
	color: rgb(250, 200, 69);
}
.icon-parking:before {
	content: "\e628";
}
.icon-phone:before {
	content: "\e629";
}
.icon-playarea:before {
	content: "\e62a";
}
.icon-plus:before {
	content: "\e62b";
}
.icon-powerbackup:before {
	content: "\e62c";
}
.icon-powerbackup-1:before {
	content: "\e62d";
}
.icon-previous:before {
	content: "\e62e";
}
.icon-price:before {
	content: "\e62f";
}
.icon-reload:before {
	content: "\e630";
}
.icon-reset-final:before {
	content: "\e631";
}
.icon-rotate-2:before {
	content: "\e633";
}
.icon-rupee:before {
	content: "\e634";
}
.icon-rupee_final:before {
	content: "\e635";
}
.icon-security:before {
	content: "\e636";
}
.icon-share:before {
	content: "\e637";
}
.icon-smiley:before {
	content: "\e638";
}
.icon-specification:before {
	content: "\e639";
}
.icon-sport:before {
	content: "\e63a";
}
.icon-swimming:before {
	content: "\e63b";
}
.icon-tick:before {
	content: "\e63c";
}
.icon-unitplan:before {
	content: "\e63d";
}



body {
	margin: 0;
	font-family: 'proxima_nova_rgregular', Arial, Helvetica, sans-serif;
	color: #333;
	overflow:hidden;
	background:#000;
}
.top-message {
	color: white;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}
.ml10{ margin-left:10px;} 
.mr10{ margin-right:10px;}
.ml5{ margin-left:5px;} 
.mr5{ margin-right:5px;}
.width-100{ width:100%;}
.blur-bg{
	background: url('../images/loader-bg.jpg') no-repeat; background-size:cover;
/*	-webkit-filter: blur(10px);
  	-moz-filter: blur(10px);
  	-o-filter: blur(10px);
  	-ms-filter: blur(10px);
  	filter: blur(10px);*/
	width:100%;
	height:100%;
	position:fixed;
	left:0; 
	top:0;	
}
.no-paddind{ padding:0 !important;}
.no-border{ border:0 !important;}
.parent-container {
	overflow: hidden;
	position: relative;
	max-width: 1365px;
	max-height: 630px;
}
.disabled {
	opacity: 0.5 !important;
    cursor: default !important;
}