*{
	 margin:0; padding:0;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*:focus{ outline:none;}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/ProximaNova-Reg-webfont.eot');
    src: url('fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Reg-webfont.woff2') format('woff2'),
         url('fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-sggb6j');
	src:url('fonts/icomoon.eot?#iefix-sggb6j') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-sggb6j') format('truetype'),
		url('fonts/icomoon.woff?-sggb6j') format('woff'),
		url('fonts/icomoon.svg?-sggb6j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon{ display:inline-block !important; font-size:25px; position:relative;}
.fs14{ font-size:14px;}
.fs16{ font-size:16px;}
.fs18{ font-size:18px;}
.fs20{ font-size:20px;}
.fs22{ font-size:22px;}
.fs24{ font-size:24px;}
.icon-cafe:before {
	content: "\e61a";
}
.icon-garden:before {
	content: "\e61f";
}
.icon-jogging:before {
	content: "\e62b";
}
.icon-parking:before {
	content: "\e62c";
}
.icon-powerbackup:before {
	content: "\e62d";
}
.icon-powerbackup-1:before {
	content: "\e62e";
}
.icon-fav:before {
	content: "\e600";
}
.icon-next:before {
	content: "\e601";
}
.icon-previous:before {
	content: "\e602";
}
.icon-specification:before {
	content: "\e603";
}
.icon-afternoon:before {
	content: "\e604";
}
.icon-arrow_left:before {
	content: "\e605";
}
.icon-arrow_right:before {
	content: "\e606";
}
.icon-bhk:before {
	content: "\e607";
}
.icon-clubhouse:before {
	content: "\e608";
}
.icon-clusterplan:before {
	content: "\e609";
}
.icon-compass:before {
	content: "\e60a";
}
.icon-cross:before {
	content: "\e60b";
}
.icon-door:before {
	content: "\e60c";
}
.icon-email:before {
	content: "\e60d";
}
.icon-facebook:before {
	content: "\e60e";
}
.icon-fillcross:before {
	content: "\e60f";
}
.icon-fitting:before {
	content: "\e615";
}
.icon-floor:before {
	content: "\e610";
}
.icon-googleplus:before {
	content: "\e611";
}
.icon-gym:before {
	content: "\e612";
}
.icon-harvesting:before {
	content: "\e613";
}
.icon-heart:before {
	content: "\e614";
}
.icon-intercom:before {
	content: "\e616";
}
.icon-location:before {
	content: "\e617";
}
.icon-morning:before {
	content: "\e618";
}
.icon-multipurposeroom:before {
	content: "\e619";
}
.icon-night:before {
	content: "\e61b";
}
.icon-phone:before {
	content: "\e61c";
}
.icon-playarea:before {
	content: "\e61d";
}
.icon-plus:before {
	content: "\e61e";
}
.icon-price:before {
	content: "\e620";
}
.icon-reload:before {
	content: "\e621";
}
.icon-rotate-1:before {
	content: "\e622";
}
.icon-rotate-2:before {
	content: "\e623";
}
.icon-rupee:before {
	content: "\e624";
}
.icon-security:before {
	content: "\e625";
}
.icon-smiley:before {
	content: "\e626";
}
.icon-specification2:before {
	content: "\e627";
}
.icon-sport:before {
	content: "\e628";
}
.icon-swimming:before {
	content: "\e629";
}
.icon-unitplan:before {
	content: "\e62a";
}

body {
	margin: 0;
	font-family: 'proxima_nova_rgregular';
	color: #333;
	overflow:hidden;
	background:#000;
}
.blur-bg{
	background: url('../images/walkthrough-cover.jpg') no-repeat; background-size:100%;
	-webkit-filter: blur(8px);
  	-moz-filter: blur(8px);
  	-o-filter: blur(8px);
  	-ms-filter: blur(8px);
  	filter: blur(8px);
	width:100%;
	height:100%;
	position:fixed;
	left:0; 
	top:0;	
}
.no-paddind{ padding:0 !important;}
.no-border{ border:0 !important;}
header {
	position: absolute;
	color: #CCC;
	margin-left: 60px;
	line-height: 45px;
	z-index: 100;
	font-size: 14px;
	text-shadow: 0px 0px 10px #000;
	font-weight:bold;
}
.br50{
	border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-webkit-border-radius:50%;
}
header .project-title {
	font-size: 18px;
	color: #FFF;
}
header .project-count {
	color: limegreen;
}
table td, table tr {
	padding: 0px;
	margin: 0px;
}

.main-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.hidden {
	display: none;
}
.fade-out {
	opacity: 0;
}
.fade-in {
	opacity: 1;
}
.fade-image {
	opacity: 0.3;
}
.no-pointer{
	cursor: default;
}
.selected {
	cursor: default !important;
}
.right {
	border-right: none !important;
}

/* SVG */
.svg-container {
	position: absolute;
	left: 0px;
	border: none;
	z-index: 10000;
}
polygon {
	fill: rgba(0,0,0,0);
	cursor: pointer;
	stroke: rgba(255,255,255,0.5);
	stroke-width: 0;
}
.unit-svg-container polygon:hover{
	stroke: orange;
	stroke-width: 0.4;
}
.unit-svg-container ellipse {
	cursor: pointer;
	stroke: rgba(0,0,0,0.4);
	stroke-width: 0.1;
	fill: black;
	fill-opacity: 0.3;
}
.unit-svg-container ellipse:hover {
	cursor: pointer;
	stroke: rgba(0,0,0,0.5);
	fill-opacity: 0.4;
}
ellipse {
	cursor: pointer;
	stroke: rgba(255,255,255,0.8);
	stroke-width: 0.1;
	fill-opacity: 0.8;
}
ellipse.apt-available {
	fill: limegreen;
}
ellipse.apt-unavailable {
	fill: crimson;
	cursor: default;
}
ellipse.tower-unit-svg-hover-path {
	stroke: white;
	stroke-width: 0.1;
	fill-opacity: 0;
}
ellipse.tower-unit-svg-selected-path {
	stroke: white;
	stroke-width: 0.1;
	fill-opacity: 0.5;
}

/* Images */
.img-container {
	position: absolute;
	width: 100%;
	z-index: 1;
}
.img-container img {
	position: absolute;
}

/* Tower Details */
.tower-detail-container {
	position: absolute;
	width: 100%;
	z-index: 9999;
}
.tower-unit-detail-container {
	position: absolute;
	width: 100%;
}
.tooltip-detail {
	position: absolute;
	opacity: 0;
	border-top: 2px solid #CCC;
	color: #FFF;
	font-size: 11px;
	z-index: 10000000;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.tooltip-detail table {
	border-spacing: 0px;
}
.tooltip-detail .tooltip-title {
	background: #333;
	border: 1px solid #CCC;
	border-radius: 100%;
	color: #CCC;
	padding: 5px;
	position: absolute;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	top: -15px;
	left: -15px;
}
.tooltip-detail .detail-container {
	background: #333;
	padding: 0;
	border-bottom: 1px solid #666;
}
.tooltip-detail .detail-container table{ width:100%; border-collapse: collapse;}
.tooltip-detail .detail-container table td{ padding:8px 10px; min-width:30px; border-bottom:1px solid #7e7e7e;}
.tooltip-detail .detail-container table tr:last-child td{ border-bottom:0;}
.towerunit-detail-container{
	background: #333;
	margin-left: 70px;
	padding: 5px 12px;
	min-width:100px;
}
.towerunit-detail-container > div{
	text-align: left;
	padding: 3px;
	color: #c3c3c3;
}
.towerunit-detail-container > div.towerunit-name,div.towerunit-detail {
	font-size: 13px;
	color: white;
}
.tooltip-detail .container-left {
	text-align: right;
	color: #CCC;
}
.tooltip-detail .container-right {
	text-align: left;
}
.apt-available {
	border-right: 4px solid limegreen;
}
.apt-unavailable {
	border-right: 4px solid crimson;
}
.apt-available-border-left {
	border-left: 4px solid limegreen;
}
.apt-unavailable-border-left {
	border-left: 4px solid crimson;
}
.apt-available-border-right {
	border-right: 4px solid limegreen;
}
.apt-unavailable-border-right {
	border-right: 4px solid crimson;
}
.apt-available-color{
	color: limegreen  !important;
}
.apt-available-border-color{
	border-color: limegreen  !important;
}
.apt-unavailable-border-color{
	border-color: crimson  !important;
}
.apt-unavailable-color{
	color: crimson !important;
}


/* Tower Menu */
.tower-menu-container {
	position: absolute;
	z-index: 99999;/*300000;*/
	top: 0px;
	left: 0px;
	height:auto;
	max-height: 100%;
}
.tower-menu-container table {
	border-spacing: 0px;
    border-collapse: separate;
    height: 100.1%;   /* Fix as height may not be an integer */
}
.tower-menu-container .menu-icon, 
.tower-menu-container .menu-items,
.menu-item-container .menu-item-options {
	background: rgba(0,0,0,0.8);
}
.tower-menu-container .menu-item-container:hover,
.tower-menu-container .menu-item:hover,
.tower-menu-container .menu-item-hover,
.tower-menu-container .menu-icon:hover,
.menu-item-options .option-item:hover,
.menu-item-options .selected ,
.reset-filters{
	background: #333;
	
}
.tower-menu-container .menu-item .icon{ padding-top:10px; color:#ccc;}
.tower-menu-container .menu-icon, .tower-menu-container .menu-items {
	color: #FFF;
	width: 45px;
	text-align: center;
	font-weight: normal;
}
.tower-menu-container .menu-icon {
	height: 45px;
	line-height: 45px;
	cursor: pointer;
}
.tower-menu-container .menu-icon.menu-call{ background:none;}
.tower-menu-container .menu-icon a {
	color: white;
	text-decoration: none;
	display: block;
}
.tower-menu-container .menu-icon a .icon, .tower-menu-container .menu-icon .icon{ float:left; padding:10px;color:#ccc;}
.tower-menu-container .menu-sep {
	height: 1px;
	padding: 0px;
	background: rgba(255,255,255,0.3);
}
.tower-menu-container .menu-items {
	vertical-align: top;
}
.tower-menu-container .menu-items table {
	height: auto;
}
.tower-menu-container .menu-items .menu-item-container-td {
	position: relative;
	height: 45px;
	width: 45px;
}
.tower-menu-container .menu-item {
	position: absolute;
	line-height: 45px;
	top: 0px;
	height: 100%;
	width: 100%;
	cursor: pointer;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.tower-menu-container .menu-item-hover {
	width: 100px;
}
.tower-menu-container .menu-items .menu-item-container {
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.tower-menu-container .menu-items .menu-item-container .menu-item-options {
	position: absolute;
	height: auto;
	min-width: 110px;
	top: 0px;
	left: 45px;
	border-left: 1px solid rgba(255,255,255,0.3);
	display: none;
}
.menu-item-container .filter-count {
	position: absolute;
	width: 12px;
	height: 12px;
	padding: 2px;
	font-size: 11px;
	top: 12px;
	left: 45px;
	background-color: #333;
	z-index: -1;
}
.menu-item-options table {
	width: 100%;
}
.menu-item-options .option-item {
	position: relative;
	font-size: 14px;
	text-align: left;
	padding: 0 10px;
	height: 40px;
	cursor: pointer;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.menu-item-options .option-item:hover {
  	border-right: 4px solid;
}
.menu-item-options .selected {
  	border-left: 4px solid;
}
.menu-item-options .selected:hover {
  	border-right: none;
}

/* Tower Rotation */
.tower-rotation-container {
	position: absolute;
	width: 100%;
	z-index: 99990;
}
.rotation-btn-container{
	position:absolute; 
	z-index: 99999; 
	top:300px;
	width:48px;
	height:48px; 
}
.photo-thumb{
	width:88px; 
	height:88px; 
	position:absolute;
	bottom:15px;
	right:10px;
	border:2px solid #D1D1D1;
	overflow:hidden;
	transform:scale(0,0);
	-moz-transform:scale(0,0);
	-ms-transform:scale(0,0);
	-o-transform:scale(0,0);
	-webkit-transform:scale(0,0);
	transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	z-index:1;
}
.rotation-btn-container.left-btn .photo-thumb{
	right:inherit;
	left:10px;
}
.photo-thumb img{
	height:100%;
	width:100%;
	display:block;
	transform:scale(0,0);
	-moz-transform:scale(0,0);
	-ms-transform:scale(0,0);
	-o-transform:scale(0,0);
	-webkit-transform:scale(0,0);
	transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.rotation-btn-container:hover .photo-thumb, 
.rotation-btn-container:hover .photo-thumb img{
	-moz-transform:scale(1,1);
	-ms-transform:scale(1,1);
	-o-transform:scale(1,1);
	-webkit-transform:scale(1,1);
}
.rotation-title{
	font-size:16px;
	color:#e7e7e7;
	position:absolute;
	bottom:-25px;
	right:-150px;
	width:150px;
	opacity:0;
	text-shadow:0 0 3px rgba(0,0,0,0.3);
}
.rotation-btn-container.left-btn .rotation-title{
	right:inherit;
	left:-150px;
	text-shadow: 0px 0px 10px #000;
}
.rotation-btn-container:hover .rotation-title{
	right:-80px;
	opacity:1;
}
.rotation-btn-container.left-btn:hover .rotation-title{
	left:-20px;
}
.rotation-btn-container button{
	width:48px; 
	height:48px;
	font-size:12px; 
	text-align:center; 
	border:2px solid #D1D1D1;
	background:rgba(0,0,0,0.2); 
	color:#d1d1d1; 
	cursor:pointer; 
	transition:all 0.3s ease-in-out;
	position:absolute;
	z-index:2;
	padding:0;
	box-shadow:0 0 8px rgba(0,0,0,0.3);   
}
.rotation-btn-container:hover button{
	background:#fff; 
	border-color:#fff; 
	color:#494949;
}
.rotation-btn-container.left-btn {
	left: 25%;
}
.rotation-btn-container.right-btn{
	right: 25%;
}
.small-left .rotation-btn-container.left-btn {
	left: 8%;
}
.small-left .rotation-btn-container.right-btn{
	right: 8%;
}


/* Selected Unit */
.selected-unit-container {
	position: absolute;
	z-index: 100000;
	background: white;
	width: 60%;
	height: 100%;
	right: -67%;
}
.selected-unit-container.unit-slide-in {
	right:0;
}
.unit-view-tabs{
	position:absolute; bottom:0; left:0; width:100%; z-index:999999;
}
.unit-view-tabs.top-view{ bottom:inherit; top:101px; width:443px; left:inherit; right:1px;}
.special-offers{
	background:#fab53e;
	position:absolute;
	left:0;
	bottom:0;
	box-shadow:10px 0 0 #e76d00 inset;
	width:223px;
	padding-left:10px;
	height:50px;
}
.special-offers:before{
	content:'';
	width:5px; height:5px; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; position:absolute; top:50%; left:2px; margin-top:-2.5px;
}
.special-offers p:first-child{
	float:left;
}
.special-offers p:first-child span{ margin-top:3px;}
.special-offers p{
	padding:11px; color:#fff; font-size:12px;
}
.book-com-box{ position:absolute; right:0; bottom:0px; overflow:hidden;}

.like-box{ float:left;height:50px; margin-right:1px;  cursor: pointer;}
.like-box a{ display:block; padding:14px 14px 10px 14px;background:#414141; color:#fff; position:relative; transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;}
.like-box:hover a{ background:#121212; color:#ff8714; box-shadow:0 4px #ff8714 inset;}
.like-box.selected a{background:#121212; color:#ff8714; }
.like-box a label{ right:8px; top:22px; cursor: pointer;}
.like-box a label:before{ content:'+';}
.like-box.selected a label:before{ content:'-';}
.book-now{ float:right; background:limegreen; height:50px; cursor:pointer;}
.book-now:hover{ background:#38D938;}
.book-now a{ color:#fff; padding:8px 11px; display:block; font-size:12px; font-weight:bold;}
.book-now a span{ display:block; background:#414141; padding:3px 5px; font-weight:normal;}
/*----compare box---*/
.compare-container{ position:absolute; width:100%; left:0; bottom:1px; text-align:center; z-index:999999;}
.com-pro-box{ width:94px; display:inline-block; margin:0 1px; cursor: pointer;}
.com-pro-box:hover {opacity: 0.8}
.com-pro-box p{ font-size:12px; background:#414141; color:#fff; width:100%; padding:5px 0;}
.com-pro-box p.selected{ background:#fab53e; color:#414141;}
.com-pro-box img{ display:block; width:94px; height:76px;}
.drag-over{
	opacity: 0.5
}
/* Unit Close */
.unit-close-container {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0px;
	left: -50px;
	background-color: rgba(0,0,0,0.5);
	color: #CCC;
	text-align: center;
	line-height: 58px;
	cursor: pointer;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.unit-close-container:hover {
	color: #FFF;
}

/* Unit Menu */
.unit-menu-container {
	position: absolute;
	height: 50px;
	width: 100%;
  	z-index: 9999999;
}
.unit-menu-container table {
	width: 100%;
	border-spacing: 0px;
    border-collapse: separate;
}
.unit-menu-container .header-item {
	color: #DDD;
	font-size: 14px;
	text-align: center;
	background-color: #333;
	border-right: 1px #EEE solid;
	border-bottom: 5px #666 solid;
	line-height: 20px;
	padding: 0 5px;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.unit-menu-container .header-item .item-icon-box {
	font-size: 15px;
	padding-top:5px;
}
.unit-menu-container .header-title {
	width: 50%;
	font-size: 10px;
	text-align: left;
	padding-left: 10px;
}
.unit-menu-container .header-title span {
	display: inline;
	font-size: 14px;
}
.unit-menu-container .header-title .address {
	font-size: 19px;
	color: #FFF;
}
.unit-menu-container .unit-menu-link:hover, 
.unit-menu-container .selected {
	background-color: #fab53e;
	cursor: pointer;
	color:#fff;
	border-bottom-color:#ECECEC; 
}

/* Unit Data */
.unit-data-container {
	position: absolute;
	top: 0px;
  	height: 100%;
  	width: 100%;
  	text-align: center;
}
.unit-data-container.walkthrough-container{
	height: 90%;
}
.unit-data-container .fullView {
	position: absolute;
	top: 0px;
 	left: 0px;
 	width: 100%;
	height: 100%;
}
.floor-plan-container,
.cluster-plan-container,
.specification-container {
	background-color: #fff;
}
.floor-plan-container .sunlight-menu {
	position: absolute;
	background-color: #CCC;
	top: 55px;
	left: 5px;
	border-radius: 30px;
	padding: 2px;
	z-index: 10001;
}
.floor-plan-container .sunlight-menu .sunlight-menu-option {
	display: inline-block;
	background-color: #DDD;
	padding: 3px;
	margin: 1px;
	border-radius: 100%;
	width: 23px;
	height: 23px;
	line-height: 26px;
	text-align: center;
	cursor: pointer;
}
.floor-plan-container .sunlight-menu .sunlight-menu-option:hover, 
.floor-plan-container .sunlight-menu .sunlight-menu-option.selected {
	background-color: #FFF;
}
.floor-plan-menu-container .floor-plan-menu {
	position: absolute;
	top: 55px;
	right: 5px;
	background-color: #333;
	color: #EEE;
	font-size: 11px;
	border-radius: 5px;
	border-spacing: 0px;
	overflow: hidden;
	z-index: 10001;
}
.floor-plan-menu-container .floor-plan-menu .floor-plan-menu-option {
	padding: 5px;
	border-right: 1px solid #EEE;
	cursor: pointer;
}
.floor-plan-menu-container .floor-plan-menu .floor-plan-menu-option:hover,
.floor-plan-menu-container .floor-plan-menu .floor-plan-menu-option.selected {
	background-color: #666;
}
.unit-content-wrapper {
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	top: 120px;
	bottom: 70px;
	width: 100%;
}
.unit-content-wrapper .base-table{
	padding: 0px 20px;
	width:100%;
}
.payment-pic{ padding:20px; text-align:center;}
.payment-pic img{ width:100%; display:inline-block;}
.specification-tabs,.pricebreakup-tabs{
	margin:93px 20px 0 20px; 
	list-style:none; 
	padding:0; 
	text-align:left;  
	border-bottom:2px solid #494949;
}
.specification-tabs li,.pricebreakup-tabs li{
	display:inline-block; 
	margin-right:2px;
	padding:5px 15px; 
	font-size:12px; 
	width:130px; 
	background:#838383; 
	color:#fff;
	cursor: pointer;
}
.specification-tabs li:hover, .pricebreakup-tabs li:hover, .specification-tabs li.active, .pricebreakup-tabs li.active{
	background:#494949;
}
.unit-content-wrapper .base-table td {
	text-align: left;
	padding: 5px 10px;
	font-size: 12px;
	color: #555;
}
.unit-content-wrapper .base-table .heading {
	background-color:#E4E4E4;
	color: #494949;
	text-transform: uppercase;
	font-size:12px;
	font-weight:bold;
}
.price-breakup-container .base-table tr:nth-child(odd) td{ background:#EDEDED;}
.price-breakup-container .base-table tr td.total-price {font-weight: bold; background: #DDD}
.compare-units-container {
	position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    z-index: 100001;
	right:-110%;
}
.compare-units-container .svg-container{
	z-index: 100002;
}
.compare-units-container .compare-back-button{
	position: absolute;
	background: #121212;
	color: white;
	padding: 0px 15px;
	cursor: pointer;
	line-height: 45px;
	z-index: 10;
}
.compare-units-container .compare-back-button:hover {
	background: #333;
}
.compare-back-button .icon{ top:6px;}
.compare-units-container .compare-unit-box{
	position: absolute; width: 50%; display: inline-block;
}
.compare-unit-box .img-svg-container{
	position: relative; margin-top:9%; margin-bottom:9%;
}
.compare-unit-box .img-svg-container.drag-drop{
	padding: 20%;
}
.compare-units-container .compare-unit-box-right{
	right: 0;
}
.compare-units-container .compare-unit-img{
	width: 100%;
	height: 100%;
	/*margin-top: 9%;*/
}
.compare-units-container > div{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.compare-unit-box-right-border{
	border-right:1px solid #888;
}

.compare-units-container .top-right-component{
	right: 0px;
}
.compare-unit-box-detail{
	font-size: 14px;
	text-align: center;
	background-color: #333;
	border-bottom: 5px #666 solid;
	line-height: 20px;
	display: inline-block;
	position: absolute;
	color: #DDD;
	padding: 10px;
}
.compare-unit-box-detail .address {
	font-size: 19px;
	color: #FFF;
}
.compare-unit-box-detail span{
	padding: 0px 10px;
}

/* Overview Image */
.overview-img-container {
	position: absolute;
	right: 0px;
	z-index: 10;
	height: 100%
}
.overview-img-container img {
	position: absolute;
	width: 250px;
	height: 150px;
	border: 1px solid #FFF;
	right: 10px;
	bottom: 10px;
}

/* Amenities */
.amenities-container {
	position: absolute;
	width: 100%;
	height: 100%;
}
.amenities-container.not-on-top {
	z-index: 9990;
}
.amenities-container .amenity-icon {
	position: absolute;
	z-index: 10000;
	color: #DFDFDF;
	height: 20px;
	width: 20px;
	line-height: 22px;
	font-size: 20px;
	text-align: center;
	border-radius: 100%;
	cursor: pointer;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.amenities-container .amenity-icon .name {
	position: absolute;
	top: 35px;
	left: -90px;
	width: 200px;
	line-height: normal;
	font-size: 12px;
	text-shadow: 1px 1px 2px #666;
	opacity: 0;
	visibility: hidden;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.amenities-container .amenity-icon:hover .name {
	opacity: 1;
	visibility: visible;
}

.amenities-container .amenity-icon .name span {
	background: rgba(0,0,0,0.4);
	border-radius: 100px;
	padding: 5px 10px;
}
.selected-unit-container .amenities-container .amenity-icon .name span {
	background: #999;
}
.amenity-popup {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 100000;
}
.selected-unit-container .amenity-popup {
	z-index: 10000000;
}
.amenity-popup table {
	position: absolute;
}
.amenity-popup .amenity-heading {
	background-color: rgba(0,0,0,0.7);
	color: #CCC;
	padding: 10px;
}
.amenity-popup .amenity-popup-close {
	float: right;
	color: #999;
	cursor: pointer;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.amenity-popup .amenity-popup-close:hover {
	color: #AAA;
}
.amenity-popup .amenity-image {
	margin-top: 2px;
	border: 2px rgba(0,0,0,0.7) solid;
}
.amenity-popup .amenity-image > div{
	width:600px;
	height:360px;
	overflow:hidden;
	position:relative;
}
.amenity-popup .amenity-image > div img {
	height: 360px;
	display: block;
	animation: zoom 30s;
	-moz-animation: zoom 30s;
	-webkit-animation: zoom 30s;
	animation-delay:1s;
	-moz-animation-delay:1s;
	-webkit-animation-delay:1s;
    
}
/*----------project amenities start here-----------*/
.project-amenities{ text-align:left; padding:20px 10px;}
.project-amenities .icon{ width:55px; height:55px; font-size:28px; background:#fff; border-radius:2px; border:1px solid #dedede; color:#666; text-align:center; line-height:55px;}
.project-amenities li{ float:left; width:55px; height:145px; margin:0 65px;}
.project-amenities li label{ color:#333; font-size:13px; display:block; margin-top:10px; text-align:center;}
/*-------payment screen start here-------*/
.payment-screen{ width:100%; background:rgba(0,0,0,1); padding:50px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; position:fixed; top:0; left:0; height:100%; z-index:999999;}
.close-payment{ position:absolute; right:20px; top:20px; z-index:3; color: #999; cursor: pointer;}
.close-payment:hover {color: #666;}
.payment-container{ position:relative; top:50%; height:440px; margin-top:-220px; width:100%;}
.payment-container h3{ font-size:18px; color:#252525;}
.payment-container h5{ font-size:14px; margin:10px 0;}
.payment-left{ float:left; width:350px; background:#fff; height:440px; position: relative; z-index: 1;}
.payment-left p{font-size:12px; text-transform:uppercase; color:#9e9e9e;}
.payment-left p span{ display:block; color:#252525; text-transform:none;}
.payment-left-top{ padding:20px;}
.payment-photo-box{ border:1px solid #ccc; overflow:hidden; width:100%; height:167px; margin-top:20px;}
.payment-photo-box img{ display:block; height:100%; width:100%;}
.booking-amount{ padding:20px; border-style:solid; border-color:#ccc; border-width:1px 0;}
.payment-right{ position:absolute; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; left:0; padding-left:370px;}
.payment-right p{ font-size:14px; color:#252525; margin-bottom:15px; padding-right:40px}
.payment-right h3{ margin-bottom:10px;}
.payment-right-container{ width:100%; background:#fff; padding:15px 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;height:440px;}
.personal-detail-box table{border-collapse:collapse;}
.personal-detail-box table tr td:first-child{padding-right:5px;}
.personal-detail-box table tr td:last-child{padding-left:5px}
.input-box{ padding:15px 17px 0 17px; border-bottom:1px solid #ccc; position:relative; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.input-box label{ position:absolute; left:17px; top:25px; font-size:13px; text-transform:uppercase; color:#9e9e9e; z-index:1;}
.view-price-brakup{ font-size:12px; color:#04A3D3; display:block; text-align:center; padding:0 0 10px 0;}
.input-box.active label{ font-size:11px; top:8px; color:#f39b13;}
.input-box input{ background:none;width:100%; outline:none; border:none; padding:10px 0 5px 0; font-size:14px; color:#616161;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; position:relative; z-index:2; resize:none;}
.input-box span.error{ position:absolute; font-size:12px; bottom:-18px; left:17px; display:none;}
.input-box.error span.error{ display:block;}
.input-box.active{ border-color:white !important; box-shadow:0 -2px 0 #f39b13 inset;}
.input-box a.nationalty-link{padding:25px 17px 5px 17px; display:block; position:relative;font-size:13px; text-transform:uppercase; color:#9e9e9e; z-index:2; cursor: pointer;}
.input-box a.nationalty-link .icon{ transform:rotate(90deg); -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); float:right; color:#494949;}
.input-box a.nationalty-link.active{ color:#f39b13;}
.input-box a.nationalty-link.active .icon{transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);}
.nationalty-drop-down{ margin:0; padding:33px 0 0 0; list-style:none; border:1px solid #ccc; position:absolute; right:0; top:12px; width:100%; z-index:3;}
.nationalty-drop-down li{ background:#fff; cursor: pointer;}
.nationalty-drop-down li a{ font-size:13px; display:block; color:#9e9e9e; padding:10px 20px;}
.nationalty-drop-down li:hover, .nationalty-drop-down li a.active{ background:#DFDFDF; color:#616161;}
.make-payment{ font-size:14px; background:#f39b13; color:#fff; text-align:center; width:220px; line-height:42px; border-radius:3px; margin:15px 0 0 0; cursor: pointer;}
.make-payment:hover {background: #ECA537;}
.terms-condition{ margin:20px 0 10px  0;}
.terms-condition input{float:left; margin:5px 10px 0 0;}
.terms-condition  label{font-size:13px; cursor:pointer; color:#252525;}
.terms-condition  label a{ color:#04A3D3;}
/*-------payment screen start here-------*/
/*=================classes for animation added by jaswant singh=========================*/

/*-------------transition effect for all-------------*/
.transition{ 
	transition:all 0.5s ease-in-out; 
	-webkit-transition:all 0.5s ease-in-out; 
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;}
	
.slow-transition{ 
	transition:all 0.9s ease-in-out; 
	-webkit-transition:all 0.9s ease-in-out; 
	-ms-transition:all 0.9s ease-in-out;
	-o-transition:all 0.9s ease-in-out;
	-webkit-transition:all 0.9s ease-in-out;}
/*-------------transition effect for all end-------------*/

/*---image pop up animation---*/
.pop-up-in{
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-name: pop-in;
    animation-name: pop-in;
 }
.pop-up-out{
	animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-name: pop-out;
    animation-name: pop-out;
} 
/*-----pop-in-----*/
@keyframes pop-in {
  0% {
  	opacity: 0;
    transform-origin: 0 0;
    transform: scale(0) translate(50%, 0%);
  }

  100% {
  	top: 50%;
  	left: 50%;
  	margin: -206px 0 0 -304px;
    opacity: 1;
    transform-origin: 0 0;
    transform: scale(1) translate(0%, 0%);
  }
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform-origin: 1000 500;
    -webkit-transform: scale(0) translate(50%, 0%);
  }

  100% {
  	top: 50%;
  	left: 50%;
  	margin: -206px 0 0 -304px;
    opacity: 1;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1) translate(0%, 0%);
  }
}
@-moz-keyframes pop-in {
  0% {
    opacity: 0;
    -moz-transform-origin: 0 0;
    -moz-transform: scale(0) translate(50%, 0%);
  }

  100% {
  	top: 50%;
  	left: 50%;
  	margin: -206px 0 0 -304px;
    opacity: 1;
    -moz-transform-origin: 0 0;
    -moz-transform: scale(1) translate(0%, 0%);
  }
}

/*-------pop-out-------*/
@keyframes pop-out {
  0% {
  	top: 50%;
  	left: 50%;
  	margin: -206px 0 0 -304px;
	opacity: 1;
    transform-origin: 0 0;
    transform: scale(1) translate(0%, 0%);
  }

  100% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scale(0) translate(50%, 0%);
  }
}
@-moz-keyframes pop-out {
  0% {
  	top: 50%;
  	left: 50%;
  	margin: -206px 0 0 -304px;
	opacity: 1;
    -moz-transform-origin: 0 0;
    -moz-transform: scale(1) translate(0%, 0%);
  }

  100% {
    opacity: 0;
    -moz-transform-origin: 0 0;
    -moz-transform: scale(0) translate(50%, 0%);
  }
}

@-webkit-keyframes pop-out {
  0% {
  	top: 50%;
  	left: 50%;
  	margin: -206px 0 0 -304px;
	opacity: 1;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1) translate(0%, 0%);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0) translate(50%, 0%);
  }
}

/*---image pop up animation end---*/
.dot-one{ 
	width:38px; 
	height:38px; 
	background:none; 
	border:1px solid #fff; 
	left:-39px; 
	bottom:-18px; 
	position:absolute; 
	border-radius:50%;
}
.tSelected-view .dot-one{ 
	width:25px; 
	height:25px; 
	left:-27px; 
	top:-13px;
}
.unit-view .dot-one{ 
	width:12px; 
	height:12px; 
	background:#eee; 
	left:-5px; 
	top:-6px !important; 
	position:absolute; 
	border-radius:50%;
	border:none;
} 
.dot-two{ 
	width:12px; 
	height:12px; 
	background:limegreen; 
	position:absolute; 
	border-radius:50%;
	left:105px; 
	top:-5px; 
	z-index:1;
}
.unit-view .line{
	background:#ddd;
}
.unit-view .dot-two{ background:orange;}
.dot-two.sold{ 
	background:crimson;
}
.line .detail-container, 
.line .tSelected-detail{ 
	position:absolute; 
	left:158px; 
	top:-12px; 
	transform:rotate(30deg); 
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	transform-origin: 0 0; 
	-moz-transform-origin: 0 0; 
	-webkit-transform-origin: 0 0;
}
.line{
	background:#fff; 
	width:0px;
	height:1px;
	position:absolute;
	transform-origin: 0 -2em;
	-webkit-transform-origin: 0 -2em; 
	-moz-transform-origin: 0 -2em;
}
.line.bottom-right{
	top:-5px; 
	left:7px;
	transform:rotate(-30deg);
	-moz-transform:rotate(-30deg);
	-webkit-transform:rotate(-30deg);
}
.line.top-right{
	transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	left:28px;
	top:14px;
}
.line.top-left{
	transform:rotate(160deg);
	-moz-transform:rotate(160deg);
	-webkit-transform:rotate(160deg);
	left:-10px;
	top:49px;
}
.line.bottom-left{
	transform:rotate(-140deg);
	-moz-transform:rotate(-140deg);
	-webkit-transform:rotate(-140deg);
	left:-27px;
	top:27px;
}
.tSelected-view .line.bottom-right{ 
	top:-6px; 
	left:-8px;
}
.tSelected-view .line.top-right{
	left: 14px;
	top: 8px;
}
.tSelected-view .line.top-left{ 
	left: -14px;
	top: 46px;
}
.tSelected-view .line.bottom-left{
	left: -33px;
	top: 29px;
}
.line.top-right .detail-container, 
.line.top-right .tSelected-detail{ 
	transform:rotate(-30deg); 
	-moz-transform:rotate(-30deg);
	-webkit-transform:rotate(-30deg);
	left:144px;
	top:-13px;
}
.line.top-left .detail-container, 
.line.top-left .tSelected-detail{
	transform:rotate(-160deg); 
	-moz-transform:rotate(-160deg);
	-webkit-transform:rotate(-160deg);
	left:203px;
	top:50px;
}
.line.bottom-left .detail-container, 
.line.bottom-left .tSelected-detail{
	transform:rotate(140deg); 
	-moz-transform:rotate(140deg);
	-webkit-transform:rotate(140deg);
	left:200px;
	top:-55px;
}
.line .tSelected-detail{ 
	left:72px; 
	top:-50px;
}
.line.top-left .tSelected-detail{
	left: 140px;
	top: 100px;
}
.line.top-right .tSelected-detail{
	left: 11px;
	top: -53px;
}
.line.bottom-left .tSelected-detail{
	left: 178px;
	top: -35px;
}



.unit-view .line .tSelected-detail{ 
	left:54px; 
	top:-22px;
}
.unit-view .line.top-left .tSelected-detail{
	left: 152px;
	top: 69px;
}
.unit-view .line.top-right .tSelected-detail{
	left: 28px;
	top: -23px;
}
.unit-view .line.bottom-left .tSelected-detail{
	left: 156px;
	top: -60px;
}


.line.top-left .apt-available, 
.line.bottom-left .apt-available{
	border-left: 4px solid limegreen;
	border-right:0;
}
.line.top-left .apt-unavailable,
.line.bottom-left .apt-unavailable
 {
	border-left: 4px solid crimson;
	border-right:0;
}
.line.top-left .floor-detail, 
.line.bottom-left .floor-detail{
	border-left: 4px solid orange;
	border-right:0;
}
.line.top-right .floor-detail, 
.line.bottom-right .floor-detail{
	border-right: 4px solid orange;
	border-left:0;
}
.show-details .dot-one, 
.show-details .tooltip-title{
    animation:point 0.3s ease-in-out both;
	-webkit-animation:point 0.3s ease-in-out both;
	-moz-animation:point 0.3s ease-in-out both;
}
.show-details .dot-one{
	animation-delay:0.2s;
	-moz-animation-delay:0.2s;
	-webkit-animation-delay:0.2s;
}
.show-details .dot-two{ 
    -moz-animation: point 0.3s ease-in-out both;
    -webkit-animation: point 0.3s ease-in-out both;
	animation: point 0.3s ease-in-out both;
    animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	

}
.show-details .detail-container, 
.show-details .tSelected-detail{
	animation: list-in 0.3s ease-in-out both;
    animation: list-in 0.3s ease-in-out both;
	animation-delay:0.7s;
	
	-moz-animation: list-in 0.3s ease-in-out both;
    -moz-animation: list-in 0.3s ease-in-out both;
	-moz-animation-delay:0.7s;
	
	-webkit-animation: list-in 0.3s ease-in-out both;
    -webkit-animation: list-in 0.3s ease-in-out both;
	-webkit-animation-delay:0.7s;
}
.hide-details .detail-container,
.hide-details  .tSelected-detail{
	animation: list-out 0.3s ease-in-out both;
    animation: list-out 0.3s ease-in-out both;
	animation-delay:0;
	
	-moz-animation: list-out 0.3s ease-in-out both;
    -moz-animation: list-out 0.3s ease-in-out both;
	-moz-animation-delay:0;

	-webkit-animation: list-out 0.3s ease-in-out both;
    -webkit-animation: list-out 0.3s ease-in-out both;
	-webkit-animation-delay:0;

}
.hide-details .dot-one, 
.hide-details .tooltip-title{
    animation: point-out 0.3s ease-in-out both;
    animation: point-out 0.3s ease-in-out both;
	-moz-animation-delay:1s;
	
	-moz-animation: point-out 0.3s ease-in-out both;
    -moz-animation: point-out 0.3s ease-in-out both;
	-moz-animation-delay:1s;
	
	-webkit-animation: point-out 0.3s ease-in-out both;
    -webkit-animation: point-out 0.3s ease-in-out both;
	-webkit-animation-delay:1s;
}
.hide-details .tooltip-title{
	-webkit-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
}
.hide-details .dot-two{
    animation: point-out 0.3s ease-in-out both;
    animation: point-out 0.3s ease-in-out both;
	animation-delay:0.5s;
	
	-moz-animation: point-out 0.3s ease-in-out both;
    -moz-animation: point-out 0.3s ease-in-out both;
	-moz-animation-delay:0.5s;
	
	-webkit-animation: point-out 0.3s ease-in-out both;
    -webkit-animation: point-out 0.3s ease-in-out both;
	-webkit-animation-delay:0.5s;

}

.show-details .line{
	animation:line-in 0.3s ease-in-out both;
	-moz-animation:line-in 0.3s ease-in-out both;
	-webkit-animation:line-in 0.3s ease-in-out both;
	-webkit-animation-delay: 0.3s; /* Chrome, Safari, Opera */
	-moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.hide-details .line {
	animation:line-out 0.3s ease-in-out both;
	-moz-animation:line-out 0.3s ease-in-out both;
	-webkit-animation:line-out 0.3s ease-in-out both;
	-webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
	-moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
/*-------------------------------------*/
@-moz-keyframes line-in {
	0%   { width:0px;}
	100% { width:110px; }
}
@-webkit-keyframes line-in {
	0%   { width:0px;}
	100% { width:110px;}
}
/*-------------------------------------*/
@-moz-keyframes line-out {
	0%   { width:110px;}
	100% { width:0; }
}
@-webkit-keyframes line-out {
	0%   { width:110px;}
	100% { width:0;}
}
/*-------------------------------------*/
@keyframes point {
    0%  {
		transform: scale(0,0);
		opacity:0;
}

100% {
    transform: scale(1,1);
	opacity:1;
}	
}
/*-------------------------------------*/
@-webkit-keyframes point {
    0%  {
		-webkit-transform: scale(0,0);
		opacity:0;
}

100% {
    -webkit-transform: scale(1,1);
	opacity:1;
}
}
/*-------------------------------------*/
@-moz-keyframes point {
    0%  {
		-moz-transform: scale(0,0);
		opacity:0;
}

100% {
    -moz-transform: scale(1,1);
	opacity:1;
}
}
/*-------------------------------------*/
@keyframes point-out {
    0%  {
		transform: scale(1,1);
		opacity:1;
}

100% {
    transform: scale(0,0);
	opacity:0;
}	
}
/*-------------------------------------*/
@-webkit-keyframes point-out {
    0%  {
		-webkit-transform: scale(1,1);
		opacity:1;
}

100% {
    -webkit-transform: scale(0,0);
	opacity:0;
}
}
/*-------------------------------------*/
@-moz-keyframes point-out {
    0%  {
		-moz-transform: scale(1,1);
		opacity:0;
}

100% {
    -moz-transform: scale(0,0);
	opacity:0;
}
}
/*-------------------------------------*/
@keyframes list-in {
    0%  {
		opacity:0;
}

100% {
	opacity:1;
}
}
/*-------------------------------------*/
@-webkit-keyframes list-in {
     0%  {
		opacity:0;
}

100% {
	opacity:1;
}
}	
/*-------------------------------------*/
@-moz-keyframes list-in {
    0%  {
		opacity:0;
	}

100% {
	opacity:1;
}
}
/*-------------------------------------*/
@keyframes list-out {
    0%  {
		opacity:1;
}

100% {
	opacity:0;
}
}
/*-------------------------------------*/
@-webkit-keyframes list-out {
     0%  {
		opacity:1;
}

100% {
	opacity:0;
}
}	
/*-------------------------------------*/
@-moz-keyframes list-out {
    0%  {
		opacity:1;
	}

100% {
	opacity:0;
}
}
/*-------------------------------------*/
@-webkit-keyframes zoom {
    from {
    	-webkit-transform: translateX(0);
    }
    to {
    	-webkit-transform: translateX(-150px) ;
    }
}
@-moz-keyframes zoom {
    from {
    	-moz-transform: translateX(0);
    }
    to {
    	-moz-transform: translateX(-150px);
    }
}
/* Standard syntax */
@keyframes zoom {
   from {
        transform: translateX(0);
   }
   to {
        transform: translateX(-150px);
   }
}
.terms-condition-popup{ background:rgba(0,0,0,0.7); position:fixed; top:0; left:0; width:100%; height:100%; z-index:999999;}
.tc-container{ background:#fff; height:440px; position:absolute; padding:20px; width:600px; top:50%; left:50%; margin:-220px; overflow:hidden; 0 0 -300px;}
.tc-container .close-payment{ color:#616161;}
.tc-container p, .price-breakup-trems p{ font-size:14px; color:#494949; margin-bottom:10px;}
.tc-container p a, .price-breakup-trems p a{ color:#06BDF5;}
.tc-container h3, .price-breakup-trems h3{ text-transform:uppercase; margin-bottom:20px;}
.price-breakup-trems{ padding:20px; text-align:left;}

/*-----------cloud animation------------*/
/*Time to finalise the cloud shape*/
.back-cloud {
	width: 3109px; height: 1696px;
	background: url(../images/cloud_2.png) no-repeat;
	top:-450px; right:-1300px;
	position:absolute;
	z-index:9999999;
}
.front-cloud {
	width: 847px; height: 480px;
	left:150px; top:0;
	background: url(../images/cloud.png) no-repeat;
	position:absolute;
	z-index:9999999;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 45s linear;
	-moz-animation: moveclouds 45s linear;
	-o-animation: moveclouds 45s linear;
	animation-iteration-count:1;
}

.x3 {
	
	-webkit-animation: moveRightclouds 30s linear;
	-moz-animation: moveRightclouds 30s linear;
	-o-animation: moveRightclouds 30s linear;
	animation-iteration-count:1;
}

@-webkit-keyframes moveclouds {
	0% {right: -1300px;}
	100% {right: 90%;}
}
@-moz-keyframes moveclouds {
	0% {right: -1300px;}
	100% {right: 90%;}
}
@-o-keyframes moveclouds {
	0% {right: -1300px;}
	100% {right: 90%;}
}

@-webkit-keyframes moveRightclouds {
	0% {left: 150px;}
	100% {left: 90%}
}
@-moz-keyframes moveRightclouds {
	0% {left: 150px;}
	100% {left: 90%}
}
@-o-keyframes moveRightclouds {
	0% {left: 150px;}
	100% {left: 90%;}
}
