ul li, ul{ list-style:none; margin:0; padding:0;}
a{ text-decoration:none;}
.hide{ display:none;}
.fleft{ float:left;}
.fright{ float:right;}
.clear-fix{ clear:both;}
.error{ border-color:crimson; color:crimson !important;}
.close-form{ position:absolute; z-index:3; width:20px; height:20px; line-height:20px; font-size:12px; text-transform:uppercase; background:rgba(0,0,0,0.7); right:-20px; top:0; text-align:center; color:#fff; cursor:pointer;}
.br50{border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;-webkit-border-radius:50%;}
.pro-contact-actions{ position:absolute; bottom:0; left:0; margin:0; padding:0; z-index: 200000;}
.pro-contact-actions ul.conect-tab{ margin:0; padding:0; position:relative; float:left; bottom: -45px}
.pro-contact-actions ul.conect-tab > li{ margin:0; padding:0; list-style:none; float:left;margin-right:1px;background:rgba(0,0,0,0.8);}
.pro-contact-actions ul.conect-tab > li > a{ display:block; padding:10px 10px 0 10px; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-decoration:none; color:#c4c5c0; height:45px; width:52px; box-sizing:border-box; transition:all ease-in-out 0.5s; -webkit-transition:all ease-in-out 0.5s;position:relative; overflow:hidden;}
.pro-contact-actions ul.conect-tab > li > a p{ position:absolute; left:-110px; top:8.5px;transition:all ease-in-out 0.5s; -webkit-transition:all ease-in-out 0.5s; width:110px; padding:0; margin:0; opacity:0;}
.pro-contact-actions ul.conect-tab > li > a:hover{ box-shadow:0 4px 0 #ff8611 inset;background:#121212;}
.pro-contact-actions ul.conect-tab > li > a.active{ box-shadow:0 -1px 0 #121212; width:168px; padding:10px 20px 0 120px; background:#121212;}
.pro-contact-actions ul.conect-tab > li > a.active p{ left:10px; opacity:1;}
.pro-contact-actions ul.conect-tab > li > a p span{ display:block;}
.pro-contact-actions ul.conect-tab > li > a:hover .icon, .pro-contact-actions ul.conect-tab > li > a.active .icon{ color:#ff8714;}
.like-count{ position:absolute; background:#383735; color:#fff; font-size:10px; border:1px solid #fff; text-align:center; width:15px; height:15px; right:-5px; top:8px; line-height:15px; cursor:pointer;}
.form-pop-up{ position:absolute; width:301px; height:auto; bottom:46px; padding:13px; background:#323232; border-top:4px solid #ff8611; left:-346px;}
.form-pop-up.out{left:0;}
.form-pop-up p{ font-size:12px; padding:0 0 10px 0; color:#c6c6c6; line-height:18px; margin: 0;}
.form-pop-up input.text{ border:none; outline:none; background:#616161; padding:10px; font-size:12px; width:100%; box-sizing:border-box; color:#c6c6c6;}
.form-input-box{ margin-bottom:13px; position:relative;}
.form-input-box.error input{ box-shadow:0 0 1px crimson inset;}
.error-box{ padding:9px 10px; font-size:12px; color:crimson; border:1px solid crimson; background:#fff; width:auto; position:absolute; left:101%; opacity:0; transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; top:0; border-radius:3px; min-width:130px; visibility:hidden;}
.form-input-box.error .error-box{ opacity:1; visibility:visible;}
.error-box:before{ content:''; position:absolute; border-top:4px solid rgba(0,0,0,0);border-bottom:4px solid rgba(0,0,0,0);border-right:5px solid #fff; z-index:1; left:-5px; top:50%; margin-top:-4px;}
.error-box:after{ content:''; position:absolute; border-top:5px solid rgba(0,0,0,0);border-bottom:5px solid rgba(0,0,0,0);border-right:6px solid crimson; left:-6px; top:50%; margin-top:-5px;}
.form-pop-up .submit{ width:100%; box-sizing:border-box; background:#eee; color:#6c6c6c; height:47px; line-height:47px; text-align:center; cursor:pointer; font-size:16px; padding-right:13px; transition:all 0.3s ease-in-out; position: relative;}
.form-pop-up .submit:hover{ background:#ddd;}
.form-pop-up .submit.disable{ opacity:0.3; cursor:none;pointer-events: none;}
.form-pop-up .submit span{ font-size:25px; position:absolute; right:13px;line-height:47px;}
.form-pop-up .submit input{ border:none; outline:none; display:none;}
.unit-box{ width:100%; margin-bottom:13px; min-height:147px;}
.unit-box li{ font-size:14px; color:#c6c6c6; background:#616161; padding:10px; display:inline-block; width:40%; margin-right:6px; margin-bottom:5px; position:relative;}
.unit-box li:nth-child(even){ margin-right:0;}
.unit-box li span{ position:absolute; width:18px; height:18px; background:#121212; text-align:center; font-size:9px; border:1px solid #A2A2A2; line-height:19px; color:#ccc; top:8px; right:5px; cursor:pointer; z-index:1; border-radius:50%;}
.unit-box p{ font-size:12px; color:#c6c6c6; padding-top:50px; text-align:center;}
.share-social{ text-align:center; margin-bottom:12px;}
.share-social a, .share-social span{ display:inline-block;}
.share-social span{ font-size:12px; color:#c6c6c6;margin:0 5px;}
.share-social a{ font-size:12px; color:#c6c6c6; height:33px; line-height:33px; background:#616161; padding-right:25px; transition:all 0.5 ease-in-out; -moz-transition:all 0.5 ease-in-out; -webkit-transition:all 0.5 ease-in-out;}
.share-social a span{ margin:0 10px 0 0; width:33px; float:left; line-height:33px; height:33px; text-align:center; font-size:15px; background:#121212;}
.share-social a:hover{ opacity:0.8;}
.chat-tab-box{ width:100%; overflow:hidden; margin-bottom:13px;}
.chat-tab-box a{ float:left; width:50%; background:#4d4d4d; color:#ff8611; padding:10px; text-align:center; font-size:12px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.chat-tab-box a:hover, .chat-tab-box a.active{ background:#f3f3f3; box-shadow:0 -2px 0 #ff8611 inset;}
.c-code{ width:65px; position:relative;}
.c-code input{ padding:10px 20px 10px 10px !important;}
.c-code .icon{ position:absolute; right:0px; left:42px; padding:0 5px; color:#c6c6c6; line-height:35px; cursor:pointer; top:0px;}
.c-code .icon:hover{ background:#414141;}
.country-dropDown{ position:absolute; top:102%; width:200px; background:#616161; left:0; z-index:2; height:105px; overflow:auto;}
.country-dropDown li{padding:7px 10px; color:#c6c6c6; border-bottom:1px solid #7A7A7A; transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; cursor:pointer;}
.country-dropDown li:hover, .country-dropDown li.active{ background:#414141;}
.country-dropDown.bmt{ top:inherit; bottom:102%;}
.country-dropDown span {font-size: 0.7em; padding-left: 5px; text-transform: uppercase;}