*{
	 margin:0; padding:0;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline:none;
}
*:focus{ outline:none;}
img{ border:0; outline:none;}
.parent-container{ overflow:hidden;}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/ProximaNova-Reg-webfont.eot');
    src: url('fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Reg-webfont.woff2') format('woff2'),
         url('fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?1u2n5j');
	src:url('fonts/icomoon.eot?#iefix1u2n5j') format('embedded-opentype'),
		url('fonts/icomoon.ttf?1u2n5j') format('truetype'),
		url('fonts/icomoon.woff?1u2n5j') format('woff'),
		url('fonts/icomoon.svg?1u2n5j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon{ display:inline-block !important; font-size:25px; position:relative;}

.icon-location:before {
    content: "\e61b";
}
.icon-sun-fill .path1:before {
    content: "\e904";
    color: rgb(49, 78, 85);
}
.icon-sun-fill .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(242, 133, 68);
}
.icon-sun-fill .path3:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(49, 78, 85);
}
.icon-sun-fill .path4:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(49, 78, 85);
}
.icon-cloudsun-fill .path1:before {
    content: "\e908";
    color: rgb(242, 133, 68);
}
.icon-cloudsun-fill .path2:before {
    content: "\e909";
    margin-left: -1.486328125em;
    color: rgb(49, 78, 85);
}
.icon-cloudsun-fill .path3:before {
    content: "\e90a";
    margin-left: -1.486328125em;
    color: rgb(129, 164, 227);
}
.icon-cloudsun-fill .path4:before {
    content: "\e90b";
    margin-left: -1.486328125em;
    color: rgb(49, 78, 85);
}
.icon-cloudsun-fill .path5:before {
    content: "\e90c";
    margin-left: -1.486328125em;
    color: rgb(49, 78, 85);
}
.icon-cloudmoon-fill .path1:before {
    content: "\e90d";
    color: rgb(242, 133, 68);
}
.icon-cloudmoon-fill .path2:before {
    content: "\e90e";
    margin-left: -1.2275390625em;
    color: rgb(49, 78, 85);
}
.icon-cloudmoon-fill .path3:before {
    content: "\e90f";
    margin-left: -1.2275390625em;
    color: rgb(129, 164, 227);
}
.icon-cloudmoon-fill .path4:before {
    content: "\e910";
    margin-left: -1.2275390625em;
    color: rgb(49, 78, 85);
}
.icon-cloudmoon-fill .path5:before {
    content: "\e911";
    margin-left: -1.2275390625em;
    color: rgb(49, 78, 85);
}
.icon-gift:before {
    content: "\e903";
}
.icon-sun-o:before {
    content: "\e900";
}
.icon-cloudsun-o:before {
    content: "\e901";
}
.icon-cloudmoon-o:before {
    content: "\e902";
}
.icon-bestprice:before {
    content: "\e640";
}
.icon-assuredprivacy:before {
    content: "\e63f";
}
.icon-chat:before {
    content: "\e63e";
}
.icon-unitplan:before {
    content: "\e63d";
}
.icon-tick:before {
    content: "\e63c";
}
.icon-swimming:before {
    content: "\e63b";
}
.icon-sport:before {
    content: "\e63a";
}
.icon-specification:before {
    content: "\e639";
}
.icon-smiley:before {
    content: "\e638";
}
.icon-share:before {
    content: "\e637";
}
.icon-security:before {
    content: "\e636";
}
.icon-rupee_final:before {
    content: "\e635";
}
.icon-rupee:before {
    content: "\e634";
}
.icon-rotate-2:before {
    content: "\e633";
}
.icon-rotate-1:before {
    content: "\e632";
}
.icon-reset-final:before {
    content: "\e631";
}
.icon-reload:before {
    content: "\e630";
}
.icon-price:before {
    content: "\e62f";
}
.icon-previous:before {
    content: "\e62e";
}
.icon-powerbackup-1:before {
    content: "\e62d";
}
.icon-powerbackup:before {
    content: "\e62c";
}
.icon-plus:before {
    content: "\e62b";
}
.icon-playarea:before {
    content: "\e62a";
}
.icon-phone:before {
    content: "\e629";
}
.icon-parking:before {
    content: "\e628";
}
.icon-uniE627:before {
    content: "\e627";
}
.icon-uniE626:before {
    content: "\e626";
}
.icon-uniE625:before {
    content: "\e625";
}
.icon-uniE624:before {
    content: "\e624";
}
.icon-uniE623:before {
    content: "\e623";
}
.icon-uniE622:before {
    content: "\e622";
}
.icon-uniE621:before {
    content: "\e621";
}
.icon-uniE620:before {
    content: "\e620";
}
.icon-night:before {
    content: "\e61f";
}
.icon-next:before {
    content: "\e61e";
}
.icon-multipurposeroom:before {
    content: "\e61d";
}
.icon-morning:before {
    content: "\e61c";
}
.icon-jogging:before {
    content: "\e61a";
}
.icon-intercom:before {
    content: "\e619";
}
.icon-heart-1:before {
    content: "\e618";
}
.icon-heart:before {
    content: "\e617";
}
.icon-harvesting:before {
    content: "\e616";
}
.icon-gym:before {
    content: "\e615";
}
.icon-googleplus:before {
    content: "\e614";
}
.icon-garden:before {
    content: "\e613";
}
.icon-floor:before {
    content: "\e612";
}
.icon-fitting:before {
    content: "\e611";
}
.icon-fillcross:before {
    content: "\e610";
}
.icon-facebook:before {
    content: "\e60f";
}
.icon-email:before {
    content: "\e60e";
}
.icon-door:before {
    content: "\e60d";
}
.icon-cross:before {
    content: "\e60c";
}
.icon-compass:before {
    content: "\e60b";
}
.icon-clusterplan:before {
    content: "\e60a";
}
.icon-clubhouse:before {
    content: "\e609";
}
.icon-circlecross:before {
    content: "\e608";
}
.icon-cafe:before {
    content: "\e607";
}
.icon-bhk:before {
    content: "\e606";
}
.icon-arrow_top:before {
    content: "\e605";
}
.icon-arrow_right:before {
    content: "\e604";
}
.icon-arrow_left:before {
    content: "\e603";
}
.icon-arrow_btm:before {
    content: "\e602";
}
.icon-afternoon:before {
    content: "\e601";
}
.icon-1:before {
    content: "\e600";
}



body {
	margin: 0;
	font-family: 'proxima_nova_rgregular', Arial, Helvetica, sans-serif;
	color: #333;
	overflow:hidden;
	background:#000;
}
.top-message { position: fixed; width: 100%; height: 100%; top: 0; z-index: 999999; left: 0; background-color: rgba(0,0,0,.8); }
.top-message .info {
	color: black;
	text-align: center;
	padding: 20px 10px;
	font-size: 15px;
	max-width: 280px;
	left: 50%;
	position: absolute;
	background-color: #fff;
	margin-left: -140px;
	top: 20%;
	width: 100%;
	box-sizing: border-box;
}
.top-message .close { cursor: pointer; position: absolute; right: -10px; top: -10px; display: block; width: 20px; height: 20px; line-height: 21px; font-size: 9px; text-align: center; color: #999; border-radius: 50%; border: 1px solid #999; background-color: #fff; }
.ml10{ margin-left:10px;} 
.mr10{ margin-right:10px;}
.ml5{ margin-left:5px;} 
.mr5{ margin-right:5px;}
.width-100{ width:100%;}
.blur-bg{
	background: url('../images/loader-bg.jpg') no-repeat; background-size:cover;
/*	-webkit-filter: blur(10px);
  	-moz-filter: blur(10px);
  	-o-filter: blur(10px);
  	-ms-filter: blur(10px);
  	filter: blur(10px);*/
	width:100%;
	height:100%;
	position:fixed;
	left:0; 
	top:0;	
}
.no-paddind{ padding:0 !important;}
.no-border{ border:0 !important;}
.parent-container {
	overflow: hidden;
	position: relative;
	max-width: 1365px;
	max-height: 630px;
}
.disabled {
	opacity: 0.5 !important;
    cursor: default !important;
}