RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/styles
RewriteCond %{REQUEST_URI} !/index.php
RewriteRule ^(.*) index.html [L,QSA]
